= form_for @seller do |f|
	- if @seller.errors.any?
		#error_explanation
			%h2.chip
				= "#{@seller.errors.count} errores encontrados:"
				<i class="material-icons">close</i>
			%ul
				- @seller.errors.full_messages.each do |msg|
					%li.chip.waves-effect.waves-light.btn-large
						= msg
						<i class="material-icons">close</i>

	.row
		.divider
		.section
			%h5 Datos Vendedor
			.col.s12
				.row
					.input-field.col.s6
						= f.text_field :lastnamev
						%label{for: "#{:lastnamev}", class: "active"} Apellidos
					.input-field.col.s6
						= f.text_field :namev
						%label{for: "#{:namev}", class: "active"} Nombres
		.divider
		.section
			%h5 Datos Comprador
			.col.s12
				.row
					.input-field.col.s6
						= f.text_field :lastnamec
						%label{for: "#{:lastnamec}", class: "active"} Apellidos
					.input-field.col.s6
						= f.text_field :namec
						%label{for: "#{:namec}", class: "active"} Nombres
		.divider
		.section
			%h5 Datos Incripción
			.col.s12
				.row
					.input-field.col.s6
						= f.text_field :inscription
						%label{for: "#{:inscription}", class: "active"} Número de Inscripción
					.input-field.col.s6
						= f.text_field :dateinscription
						%label{for: "#{:dateinscription}", class: "active"} Año de Inscripción
			.col.s12.center
				.row
					%button{class: "btn waves-effect waves-light", type: "submit", name: "action"}
						Guardar<i class="material-icons right">send</i>
