.row
  .col.s12
    .row.valign-wrapper
      .col.s6
        %h3.valign Índice de Vendedores
      .col.s3
        =link_to 'Ingresar nuevo registro', new_seller_path, class: "valign btn waves-effect waves-light"
      .col.s3
        =link_to 'Regresar menú principal', root_path, class: "valign btn waves-effect waves-light"
%table.bordered.highlight.centered.responsive-table
  %thead
    %tr
      %th Apellidos del Vendedor
      %th Nombres del Vendedor
      %th Apellidos del Comprador
      %th Nombres del Comprador
      %th Número de Inscripción
      %th Fecha de Inscripción
      %th Ingresador por
      %th
      %th
      %th

  %tbody
    - @sellers.each do |seller|
      %tr
        %td= seller.lastnamev
        %td= seller.namev
        %td= seller.lastnamec
        %td= seller.namec
        %td= seller.inscription
        %td= seller.dateinscription
        %td= seller.user.email
        %td= link_to 'Ver', seller
        %td= link_to 'Editar', edit_seller_path(seller)
        %td= link_to 'Eliminar', seller, :method => :delete, :data => { :confirm => 'Estás seguro de elimiar el registro?' }

